.modal-body li {
    margin-bottom: 10px;
}

.rc-slider-track {
    background-color: #3469ad;
}

.rc-slider-handle {
    border: solid 3px #3469ad;
    background-color: #1d3b61;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #3469ad;
    background-color: #3469ad;
}

.card-header {
    font-size: 24px;
    text-align: center;
}

img[alt=TTK] { width: 100%; }
img[alt=TTK_head] { width: 100%; }
img[alt=TTK_ads] { width: 100%; }